%h2.content-subhead.custom-content-subhead= "#{space.name.capitalize}'s applications"

#apps-list
  %ul
    - apps.each do |app|
      %li
        %i{:class => app_state_icon_class(app)}
        %a{:href => app_path(space, app)}= app.name
        #app-actions
          %form{:action => app_path(space, app), :method => 'post'}
            %input{:type => 'hidden', :value => 'put', :name => '_method'}
            %input{:type => 'hidden', :value => 'STOPPED'}
            %input.icon-power-off.icon-border{:type => 'submit', 
               :id => app_state_class(app), 
               :name => app_state_class(app), :value => 'stop'}

          %i.icon-signout.icon-border
          %i.icon-cog.icon-border
          %i.icon-trash.icon-border
