%h2.content-subhead.custom-content-subhead= "#{space.name.capitalize}'s applications"

#apps-list
  %ul
    - apps.each do |app|
      %li
        %i.icon-ok
        = app.name
        #app-actions
          %i.icon-power-off.icon-border
          %i.icon-signout.icon-border
          %i.icon-cog.icon-border
          %i.icon-trash.icon-border 

