#app-uris.well
  %h4 URL List
  %hr
  %table.table
    - @routes.uris.each do |route|
      %tr
        %td
          %a{:href => "http://#{route.name}", :target => '_blank'}= "http://#{route.name}"
        %td
          %form{:action => app_path(@space, @app), :method => 'post', :class => 'simple-button'}
            %input{:type => 'hidden', :value => 'delete', :name => '_method'}
            %input{:type => 'hidden', :value => route, :name => 'route_name'}
            %button{:type => 'submit',
             :id => "unmap-#{route.guid}",
             :class => "btn btn-danger",
             :title => 'Remove route'}
              %i.icon-trash


  %form{:action => app_path(@space, @app), :method => 'post'}
    .input-prepend.input-append
      %span.add-on URL
      %input{:type => 'text', :name => 'url'}
      %select{:disabled => false, :name => 'domain'}
        - current_user.domains.each do |domain|
          %option{:value => domain.name}= domain.name

      %button.btn{:type => 'submit'} Add URL
