#nav-menu.navbar.navbar-inverse.navbar-fixed-bottom
  .navbar-inner
    .container
      %ul.nav
        %li
          %p.navbar-text CF Storm 1.0.0
        %li
          %a{:href => "http://www.altoros.com", :target => 'blank'} Created and Maintained by Altoros
        %li
          %a{:href => "https://raw.github.com/Altoros/cf-storm/master/LICENSE.md", :target => 'blank'} Code licensed under GPL License

      %ul.nav.pull-right
        %li
          %a.icon-twitter{:href => "https://twitter.com/Altoros", :target => 'blank'}
        %li
          %a.icon-github{:href => "https://github.com/Altoros/cf-storm", :target => 'blank'}
        %li
          %a.icon-bug{:href => "https://github.com/Altoros/cf-storm/issues", :target => 'blank'}