-# ----------------------------------------------------
-# http://fortawesome.github.io/Font-Awesome/
-# ----------------------------------------------------
%link{:rel => "stylesheet", :href => "//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css"}
%link{:rel => "stylesheet", :href => "/css/app.css"}
%script{:src => '/js/jquery-1.10.2.min.js'}
%script{:src => '/js/app.js'}
