%script
  $(document).ready(function() {
  $('#space-menu').menu();
  $('#current-space').click(function(){ $('#space-menu').toggle() }) });

#nav-menu
  .pure-menu-heading.custom-heading Storm the CF open source console
  %ul.custom-menu
    %li.menu-item
      #current-space= current_user.spaces.first.name
      %ul#space-menu
        - current_user.spaces.each do |space|
          %li
            %a{:href => space_path(space)}= space.name

    %li.menu-item
      %a{:href => '#'} About
    %li.menu-item
      %a.avatar-button{:href => '#'}
        %img#user-avatar{:src => user_avatar_path(current_user),
          :title => "You are logged in as #{current_user.email}"}
    %li.menu-item
      %a{:href => '/sessions/delete'} Logout
