%script 
  $(function() {
  $('#org-menu').menu() });

#nav-menu
  .pure-menu-heading.custom-heading Storm the CF open source console
  %ul#std-menu-items.custom-menu
    %li
      #current-organization= current_organization.name
      %ul#org-menu
        - current_user.organizations.each do |org|

          - if current_organization.name == org.name
            %li#selected-organization
              %a{:href => '#'}= org.name
          - else
            %li= partial 'shared/button_form', :path => organization_path(org),                             :value => org.name, :name => 'org_name' 
  

    %li
      %a{:href => '#'} Spaces
    %li
      %a{:href => '#'} About
    %li
      %a.avatar-button{:href => '#'}
        %img#user-avatar{:src => user_avatar_path(current_user),
          :title => "You are logged in as #{current_user.email}"}
    %li
      %a{:href => '/sessions/delete'} Logout
