- if flash? :alert
  #flash-error
    = flash :alert

%br
.well.span3.offset4
  %h4 Login
  %hr
  %form.pure-form.pure-form-aligned{:name => 'session', :id => 'new-session',
        :action => '/sessions', :method => 'post'}

    %fieldset
      %label{:for => "email"} Email
      %input.span12{:type => "email", :name => "email", :placeholder => "Email"}

      %label{:for => "password"} Password
      %input.span12{:type => "password", :name => "password", :placeholder => "Password"}

      %input.btn{:type => "submit", :value => "Sign in"}
