- if flash? :alert
  #flash-error
    = flash :alert

%br
.well.span3.offset4
  %h5
    Cloud Foundry Storm Login
    %span.label.pull-right.label-info
      beta
  %hr
  %form{:name => 'session', :id => 'new-session',
        :action => '/sessions', :method => 'post'}

    %fieldset
      %label{:for => "email"} Email
      %input.span12{:type => "email", :name => "email", :placeholder => "Email"}

      %label{:for => "password"} Password
      %input.span12{:type => "password", :name => "password", :placeholder => "Password"}

      %button.btn{:type => "submit"} Sign in
