%body
  .container-fluid
    .row-fluid
      .span12
        %ul.nav.nav-pills
          %li.active
            %a{:href => "#"} Home
          %li
            %a{:href => "#"} Profile
          %li.disabled
            %a{:href => "#"} Messages
          %li.dropdown.pull-right
            %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"}
              Dropdown
              %strong.caret
            %ul.dropdown-menu
              %li
                %a{:href => "#"} Action
              %li
                %a{:href => "#"} Another action
              %li
                %a{:href => "#"} Something else here
              %li.divider
              %li
                %a{:href => "#"} Separated link
        %ul.breadcrumb
          %li
            %a{:href => "#"} Home
            %span.divider /
          %li
            %a{:href => "#"} Library
            %span.divider /
          %li.active
            Data
        %table.table.table-striped
          %thead
            %tr
              %th
                \#
              %th
                Product
              %th
                Payment Taken
              %th
                Status
          %tbody
            %tr
              %td
                1
              %td
                TB - Monthly
              %td
                01/04/2012
              %td
                Default
            %tr.success
              %td
                1
              %td
                TB - Monthly
              %td
                01/04/2012
              %td
                Approved
            %tr.error
              %td
                2
              %td
                TB - Monthly
              %td
                02/04/2012
              %td
                Declined
            %tr.warning
              %td
                3
              %td
                TB - Monthly
              %td
                03/04/2012
              %td
                Pending
            %tr.info
              %td
                4
              %td
                TB - Monthly
              %td
                04/04/2012
              %td
                Call in to confirm
