!!!
%html
  %head
    %title= 'Storm the CF OpenSource Console'
    
    = partial 'shared/header'

  %body
    .header.custom-header.minimal-width
      - if current_user
        = partial 'shared/nav-menu'
      - else
        .pure-menu-heading.custom-heading Login

    .content.minimal-width
      = content
