body {
  font-family: arial;
}

#flash-error{
  color: red
}

.red {
  background-color: red;  
}

.pure-button-success {
  background: rgb(28, 184, 65); /* this is a green */
}

#apps-list ul {
  list-style-type: none;
  margin: 0;
}

#apps-list ul li {
  border-bottom: 1px solid silver;
  padding-bottom: 7px;
 
}

#app-actions {
  float: right;
}

.app-action {
  margin-left: 10px;
}