%div{:class => bs.row_fluid}
  %div{:class => bs.width(4)}
    %div{:class => bs.well}
      %h4 Create space
      %hr
      %form#space-create-form{:action => '/spaces', :method => 'post'}
        // TODO add these to helpers
        .input-prepend.input-append
          %span{:class => "#{bs.width(3)} #{bs.input_addon}"} Name
          %input{:type => 'text', :name => 'space_name'}
          %button{:class => "#{bs.btn} #{bs.btn_danger}", :type => 'submit'} Create
