%ul.breadcrumb
  = partial("shared/breadcrumb")
  %li
    %span.divider /
  %li
    %a{:href => users_path}= Users

.container-fluid

  .row-fluid
    .span6
      #new-user-form
        %form{:action => users_path, :method => 'post'}
          .input-prepend.input-append
            %span.add-on Create User
            %input{:type => 'email', :name => 'email', 
                   :placeholder => "e-Mail"}
                  
            %input.span4{:type => 'password', :name => 'password',
             :placeholder => 'Password'}
            %button.wait-trigger.btn{:type => 'submit'}
              Register
              
      %table#users-list.table.table-condensed.table-striped
        %tbody
          %tr
            %th e-Mail
          - @users.each do |user|
            %tr
              %td= user.email
      
    .span6  
      %h5 About User's creation...
      %hr
      When you create a new user using this section, 
      the new user will be created under the current organization
      which in this case is 
      %b= current_user.current_organization.name
      and the user will be added to all the spaces where you are.
