%ul.breadcrumb
  = partial("shared/breadcrumb")
  %li
    %span.divider /
  %li
    %a{:href => users_path}= Users


#new-user-form.well
  %form{:action => users_path, :method => 'post'}
    %label Email
    %input{:type => 'email', :name => 'email'}

    %label Password
    %input{:type => 'password', :name => 'password'}

    %button.wait-trigger.btn{:type => 'submit'}
      Register


%table#users-list.table.table-hober
  %tbody
    %tr
      %th e-Mail
      %th Full Name
    - @users.each do |user|
      %tr
        %td= user.email
        %td= user.full_name
